.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.8em 2em;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;


    h1{
        margin-bottom: 0px;
        padding-left: 10px;
    }

    h2{
        margin-bottom: 0px;
    }

    .header_href{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;


        .header_header {
            font-size: 1.5rem;
            color: #333;
        }
    }
}